---
import type { IEvent } from '../lib/types';



interface Props {
    events: IEvent[];
}

const { events } = Astro.props;
---

<ul>
    {events.map((event) => (
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px; list-style: none; display: inline-block;">
            <li>{event.title}</li>
            <li>{event.description}</li>
            <li>{event.startDate}</li>
            <li>{event.endDate}</li>
            <a href={`event/${event.id}`}>Ver charlas</a>
        </div>
    ))}
</ul>
