---
import type { ITalk } from '../lib/types'

interface Props {
    talks: ITalk[]
}
const {talks} = Astro.props
---
<ul>
    {talks.map((talk:ITalk) => (
        <li>{talk.title}</li>
        <p>{talk.description}</p>
        <p>{talk.topic}</p>
        <a href={`/candidate/detail/${talk.id}`}>Ver mas</a>
    ))}
</ul>